<% include partials/header%>
    <ul>
    <% camps.forEach(camp => { %>
        <li><%= camp.name %> </li>
        <img src="<%= camp.url %>" alt="<%= camp.name %>">
    <% }) %>
    </ul>
<% include partials/footer%> 
