<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <h1>Welcome to YelpCamp !</h1>
        <p>View our hand-picked campgrounds from all the world.</p>
        <p>
            <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add New Campground</a>
        </p>
    </header>

    <div class="row">
        <% camps.forEach(camp => { %>
            <div class="col-md-3 col-sm-6">
                <div class="img-thumbnail">
                    <img src="<%= camp.image_url %>" class="img-fluid" alt="<%= camp.name %>">
                    <div class="caption"><h4><%= camp.name %> </h4></div>
                    <p>
                        <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary btn-block">More info</a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
    
</div>
<% include partials/footer%>
